<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Simulor - Responsive Admin Dashboard Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- App favicon -->
        {% load static %}

        <link rel="shortcut icon" href="{% static 'SSV/images/favicon.ico' %}">

        <!-- App css -->
        <link href="{% static 'SSV/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'SSV/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'SSV/css/app.min.css' %}" rel="stylesheet" type="text/css" />


    </head>

    <body class="authentication-bg">

        <div class="account-pages mt-5 mb-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card">

                            <div class="card-body p-4">
                                
                                <div class="text-center w-75 m-auto">
                                    <a href="login">
                                        <span><img src="{% static 'SSV/images/logovote.png' %}" alt="" height="45"></span>
                                    </a>
                                    <p class="text-muted mb-4 mt-3">Create your account here!!</p>
                                </div>

                                <form method="POST">

                                    {% csrf_token %}

                                    <div class="form-group mb-3">
                                        <label for="fullname">Full Name</label>
                                        <input class="form-control" type="text" id="student_name" name="student_name" placeholder="Enter your name" required>
                                    </div>

                                    <div class="form-group mb-3">
                                        <label for="semester">College ID</label>
                                        <input class="form-control" type="text" id="student_college_id" name="student_college_id" required placeholder="Enter your college ID">
                                    </div> 

                                    <div class="form-group mb-3">
                                        <label for="emailaddress">Email address</label>
                                        <input class="form-control" type="email" id="student_email" name="student_email" required placeholder="Enter your email">
                                    </div>

                                    <div class="form-group mb-3">
                                        <label for="password">Password</label>
                                        <input class="form-control" type="password" required id="student_password" name="student_password" placeholder="Enter your password">
                                    </div>

                                    <div class="form-group mb-3">
                                        <label for="semester">Current Semester</label>
                                        <input class="form-control" type="number" id="student_semester" name="student_semester" required placeholder="Enter your current semester">
                                    </div>                                    

                                    <div class="form-group mb-0 text-center">
                                        <button class="btn btn-primary btn-block" type="submit"> Sign Up </button>
                                    </div>

                                </form>
                            </div> <!-- end card-body -->
                        </div>
                        <!-- end card -->

                        <div class="row mt-3">
                            <div class="col-12 text-center">
                                <p class="text-muted">Already have account? <a href="login" class="text-dark ml-1"><b>Log In</b></a></p>
                            </div> <!-- end col -->
                        </div>
                        <!-- end row -->

                    </div> <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end page -->


        <!-- App js -->
        <script src="{% static 'SSV/js/vendor.min.js' %}"></script>
        <script src="{% static 'SSV/js/app.min.js' %}"></script>
        
    </body>
</html>